/*--------------------------------------------------------------
Buttons
--------------------------------------------------------------*/

.btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
	margin: 0;
	
	@include print-styles($button);

	&:hover, &:focus {
		text-decoration: none;
		@include print-styles($button-hover);
	}

	&:active, &.active {
		outline: 0;
		background-image: none;
	}

	&.disabled, &[disabled], fieldset[disabled] & {
		cursor: not-allowed;
		pointer-events: none;
		box-shadow: none;
	}

	&.alt{
		@include print-styles($alt-button);

		&:hover,&:focus{ @include print-styles($alt-button-hover); }
	}

	&.lg{
		@include print-styles($button-lg);
	}
}