/*--------------------------------------------------------------
buttons
--------------------------------------------------------------*/

.btn {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
	margin: 0;

	@include print($button);

	&:hover, &:focus {
		text-decoration: none;
		@include print($button-hover);
	}

	&:active, &.active { outline: 0; }

	&.disabled, &[disabled], fieldset[disabled] & {
		cursor: not-allowed;
		pointer-events: none;
		box-shadow: none;
	}

	&.alt{
		@include print($button-alt);

		&:hover,&:focus{ @include print($button-alt-hover); }
	}

	&.lg{ @include print($button-lg); }
}