/*--------------------------------------------------------------
darken background
--------------------------------------------------------------*/

.darken{
	@include darken;
}

/*--------------------------------------------------------------
background cover
--------------------------------------------------------------*/

.background-cover{
	background: no-repeat center center;
	background-size:cover;
}

/*--------------------------------------------------------------
inline list
--------------------------------------------------------------*/

.inline-list {
	margin-left: -1.2em;
	overflow: hidden;
	li {
		list-style: none;
		float: left;
		margin-left: 1.2em;
		display: block;

		* {
			display: block;
		}

	}
}

/*--------------------------------------------------------------
vertical align
--------------------------------------------------------------*/

.valign {
	@include above(sm){
		display: table;
		& > div, & > article, & > section, & > figure {
			display: table-cell;
			vertical-align: middle;
			float: none;
		}
		&.bottom{
			& > div, & > article, & > section, & > figure {
				vertical-align: bottom;
			}
		}
	}
}

/*--------------------------------------------------------------
animate
--------------------------------------------------------------*/

.animate{ @include transition; }

/*--------------------------------------------------------------
float left, right
--------------------------------------------------------------*/

.pull-left{ float:left; }
.pull-right{ float:right; }

/*--------------------------------------------------------------
clearfix
--------------------------------------------------------------*/

.clearfix{
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after { clear: both; }
}

/*--------------------------------------------------------------
round
--------------------------------------------------------------*/

.round{ border-radius: 999em; }

/*--------------------------------------------------------------
icons
--------------------------------------------------------------*/

.icons{
	i{ 
		@extend .animate;
		@include print($icons); 

		&:hover{ @include print($icons-hover); }
	}

	&.round{
		border-radius: 0;
		i{ @extend .round; }
	}
}

/*--------------------------------------------------------------
reset
--------------------------------------------------------------*/

%reset{
	padding: 0;
	margin: 0;
}