/*--------------------------------------------------------------
media queries
--------------------------------------------------------------*/

@mixin below($screen-size){
	$screen-size : #{em(map-get($screen-sizes, $screen-size)-1)};
	@media (max-width: $screen-size) { @content; }
}

@mixin above($screen-size){
	$screen-size : #{em(map-get($screen-sizes, $screen-size))};
	@media (min-width: $screen-size) { @content; }
}

/*--------------------------------------------------------------
size
--------------------------------------------------------------*/

@mixin size($h, $w: $h) {
	height: $h;
	width: $w;
}

/*--------------------------------------------------------------
margin
--------------------------------------------------------------*/

@mixin margin (
	$t: null,
	$r: null,
	$l: null,
	$b: null ) {
	margin-top: $t;
	margin-right: $r;
	margin-left: $l;
	margin-bottom: $b;
}

/*--------------------------------------------------------------
padding
--------------------------------------------------------------*/

@mixin padding (
	$t: null,
	$r: null,
	$l: null,
	$b: null ) {
	padding-top: $t;
	padding-right: $r;
	padding-left: $l;
	padding-bottom: $b;
}

/*--------------------------------------------------------------
position
--------------------------------------------------------------*/

@mixin position(
	$p: null,
	$t: null,
	$r: null,
	$l: null,
	$b: null ) {
	position: $p;
	top: $t;
	right: $r;
	left: $l;
	bottom: $b;
}

/*--------------------------------------------------------------
alter list's margin left
--------------------------------------------------------------*/

@mixin list-margin($m){
	margin-left: $m;
	li:before{
		margin-left:-$m;
		width: $m;
	}
}

/*--------------------------------------------------------------
darken background
--------------------------------------------------------------*/

@mixin darken($o:0.3, $c:#222){
	position:relative;

	&:before{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		content: '';
		opacity: $o;
		background-color: $c;
		z-index: 0;
	}
	*{
		z-index: 1;
		position: relative;
	}
}

/*--------------------------------------------------------------
animate
--------------------------------------------------------------*/

@mixin transition($property:all, $time:200ms) {
	transition: $property $time ease;
}

/*--------------------------------------------------------------
border
--------------------------------------------------------------*/

@mixin border ($side, $width: 1px, $style: solid, $color: $color-border){
	@if ($side == 'all'){
		border: $width $style $color;
		} @else {
			border-#{$side}: $width $style $color;
		}
	}