/*--------------------------------------------------------------
global
--------------------------------------------------------------*/

$base-font-size: 15px!default;
$global-radius : 0.3em!default;
$global-padding: 1em!default;

/*--------------------------------------------------------------
colors
--------------------------------------------------------------*/

$color-primary   : #33C3F0!default;
$color-secondary : #eee!default;
$color-white     : #fff!default;

$color-link      : $color-primary!default;
$color-link-light: lighten($color-link,10)!default;
$color-link-dark : darken($color-link,10)!default;

$color-border    : rgba(0,0,0,0.15)!default;

$color-text      : #555!default;

/*--------------------------------------------------------------
grid
--------------------------------------------------------------*/

$screen-sizes: (
	xs : 480px,
	sm : 768px,
	md : 992px,
	lg : 1200px
	)!default;

$grid-columns: 12!default;

$grid-gutter-width: 30px!default;


/*--------------------------------------------------------------
typography
--------------------------------------------------------------*/

$body-font-family: sans-serif!default;
$line-height: 1.4!default;

$headings-size: (
	h1 : 2.6em,
	h2 : 2.2em,
	h3 : 1.7em,
	h4 : 1.3em,
	h5 : 1.0em,
	h6 : 0.9em,
	)!default;

$heading: (
	margin-top: 0.5em,
	margin-bottom: 1em,
	font-weight: normal,
	)!default;

$heading-alt: (
	font-family: serif,
	)!default;

$link:(
	text-decoration: none,
	color: $color-link,
	)!default;

$link-hover:(
	text-decoration: underline,
	color: $color-link-dark,
	)!default;

/*--------------------------------------------------------------
theme
--------------------------------------------------------------*/

%theme{
	border: 1px solid $color-border;
	background: $color-primary;
	color:$color-white;
	
	&:hover{
		background: $color-secondary;
		color: initial;
	}
}

%theme-alt{
	border: 1px solid $color-border;
	background: $color-secondary;
	color:initial;
	
	&:hover{
		background: $color-primary;
		color: $color-white;
	}
}

/*--------------------------------------------------------------
buttons
--------------------------------------------------------------*/

$button: (
	extend: theme,
	font-size: 0.9em,
	border-radius: $global-radius,
	padding: $global-padding/2 $global-padding,
	)!default;

$button-hover: (
	)!default;

$button-lg:(
	font-size: 1.3em,
	)!default;

$button-alt: (
	extend: theme-alt,
	)!default;

$button-alt-hover: (
	)!default;

/*--------------------------------------------------------------
menu
--------------------------------------------------------------*/

$menu-item-height: 2.5em!default;
$menu-child-width: 10em!default;

$menu-btn:(
	extend: theme,
	border-radius: 999em,
	line-height: $menu-item-height,
	padding: 0 2em,
	)!default;

$menu-1st-tier-btn:(
	border-radius: 0,
	)!default;

$menu-2nd-tier-btn:(
	)!default;

/*--------------------------------------------------------------
icons
--------------------------------------------------------------*/
$icons:(
	extend: theme,
	padding: 1em,
	)!default;

$icons-hover:(
	)!default;

/*--------------------------------------------------------------
slider
--------------------------------------------------------------*/

$slider-height: 25em!default;