form{
	font-size: 0.85em;
	margin-bottom: 2em; 
}

fieldset{
	margin: 0;
	padding: 0;
	border: 0;
}

label,
legend {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5em;
	span{
		font-weight:normal;
	}
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	border: 1px solid darken($border-color,10);
	padding: 0.45em 0.35em;
	outline: none;
	border-radius: 0.2em;
	margin: 0;
	width: 100%;
	display: block;
	margin-bottom: 2em;
	background: #fff;

	&:focus{
		border-color: darken($border-color,20);
		color: lighten($body-color,20);
		box-shadow:  0 0 3px rgba(0,0,0,.2); 
	} 

}

textarea {
	min-height: 5em; 
}

input[type="checkbox"] {
	display: inline; 
}