/*--------------------------------------------------------------
Helpers
--------------------------------------------------------------*/

// Inline List
.inline-list {
	margin-left: -1.2em;
	overflow: hidden;
	li {
		list-style: none;
		float: left;
		margin-left: 1.2em;
		display: block;

		* {
			display: block;
		}

	}
}

// Vertical Align
.valign {
	@include respond-to(sm){
		display: table;
		& > div, & > article, & > section, & > figure {
			display: table-cell;
			vertical-align: middle;
			float: none;
		}
	}
}