/*--------------------------------------------------------------

Typography

h1-h6

--------------------------------------------------------------*/

body{
	line-height: $line-height;
	color: $body-color;
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover, &:focus {
		color: darken($link-color,10);
		text-decoration: underline;
	}
}

$headings-size: (
	h1 : 2.6em,
	h2 : 2.2em,
	h3 : 1.7em,
	h4 : 1.3em,
	h5 : 1.0em,
	h6 : 0.9em,
	) !default;

%headings-style{
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	color: $headings-color;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

@mixin headings($from: 1, $to: 6){
	@for $i from $from through $to{
		h#{$i}, .h#{$i}{
			@extend %headings-style;
			font-size: map-get($headings-size, h#{$i});
		}
	}
}

@include headings();

p{
	margin: 0 0 1em;
}
.lead{
	font-size: 1.5em;
	font-weight: 300;
}

// List

ul, ol, {
	margin: 0;
	padding: 0;
	line-height: 1.6;
	margin-left: 1.1em;
	margin-bottom: 1.1em;
	list-style-position: outside;
	font-family: inherit;
	li{
		ul, ol{
			margin-bottom: 0;			
		}	
	}
}

hr{
	border: solid $border-color;
	border-width: 1px 0 0;
	clear: both;
	margin: 1.2em 0;
	height: 0;
}

code {
	background-color: lighten($border-color,10);
	border: 1px solid $border-color;
	margin: 0;
	font-family: "Consolas", "Menlo", "Courier", monospace;
	padding: 0.15em 0.35em 0;
	border-radius: $global-radius;
	font-size: 0.9em
}