// Output media queries
@mixin below($screen-size){
	$screen-size : #{em(map-get($screen-sizes, $screen-size)-1)};
	@media (max-width: $screen-size) { @content; }
}

@mixin above($screen-size){
	$screen-size : #{em(map-get($screen-sizes, $screen-size))};
	@media (min-width: $screen-size) { @content; }
}


// Clearfix
@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
