/*--------------------------------------------------------------

Typography

h1-h6

--------------------------------------------------------------*/

body{
	font-size: $base-font-size;
	font-family: $body-font-family;
	line-height: $line-height;
	color: $body-color;
	-webkit-font-smoothing: antialiased;
}

a {
	@include print-styles($link);

	&:hover, &:focus {
		@include print-styles($link-hover);
	}
	img{
		vertical-align: middle;
	}
}

%headings-style{
	@include print-styles($heading);
}

%alt-headings-style{
	@include print-styles($alt-heading);
}

@mixin headings($from: 1, $to: 6){
	@for $i from $from through $to{
		h#{$i}, .h#{$i}{
			@extend %headings-style;
			font-size: map-get($headings-size, h#{$i});
			&.alt{
				@extend %alt-headings-style;
			}
		}
	}
}

@include headings();

p{
	margin: 0 0 1em;
}
.lead{
	font-size: 1.5em;
	font-weight: 300;
}

// List

ul, ol, {
	margin: 0;
	padding: 0;
	line-height: 1.6;
	margin-left: 1.2em;
	margin-bottom: 1.2em;
	list-style-position: outside;
	font-family: inherit;
	li{
		ul, ol{
			margin-bottom: 0;			
		}	
	}

	&.custom{
		list-style-type: none;

		li:before{
			@extend .fa;
			margin-left:-1.2em;
			width: 1.2em;
			display:inline-block;
			content:"\f0e7";
		}
	}
}

code {
	background-color: lighten($border-color,10);
	border: 1px solid $border-color;
	margin: 0;
	font-family: "Consolas", "Menlo", "Courier", monospace;
	padding: 0.15em 0.35em 0;
	border-radius: $global-radius;
	font-size: 0.9em
}

// Text Left, Right & Center
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}

// Text Color
.text-primary{
	color: $color-primary;
}
.text-secondary{
	color: $color-secondary;
}