$base-font-size : 17px;

/* color */
$color-primary  : #735959;
$color-secondary: #A3D3D9;
$color-link     : #387373;
$color-text     : #555;

/* typo */
/* NOTED: font loaded like this just for testing convinient, please use link instead */
@import url(http://fonts.googleapis.com/css?family=Lora:400,700);
$body-font-family: 'Lora', serif;
$line-height: 1.8;

$heading: (
	color        : $color-secondary,
	font-weight  : bold,
	margin-bottom: 1em
	);

$link: (
	color: $color-link
	);