/* alt theme */
// @import "theme";

/*--------------------------------------------------------------
conf
--------------------------------------------------------------*/
$susy: (
	gutters: 1/2,
	);

/* main */
@import "../../src/conf";

/*--------------------------------------------------------------
susy
--------------------------------------------------------------*/

#main{
	@include container;
	
	.doc-header{ @include span(12); }
	
	.half{ 
		@include span(6);
		position:relative;
	}
	
	.half-nested{ 
		@include span(6 nest);
		.third{ @include span(2 of 6); }
		.half{ @include span(3 of 6); }
		.full{ @include span(6 of 6); }
	}
	
	.fourth{ @include span(3); }
}

/*--------------------------------------------------------------
Cheatsheet show case only
--------------------------------------------------------------*/
section{
	@include border(bottom, $style:dashed);
	overflow: auto;
	padding: 2*gutter() 0;

	.doc-header{ padding-bottom: 2*gutter(); }

	.doc>div{
		@include border(top, $style:dashed);
		padding-bottom: 2*gutter();
	}

// &:target{ background: rgba(0,0,0,0.02); }
}

.toc{
	@extend %border;
	@include position(fixed,$t:1em,$r:1em);
	font-size: 0.9em;
	padding: 1em 1.5em;
	width: 15em;
	background: #fff;
	z-index: 1;
	// &+div{ padding-right: 15em; }
	h4{margin-top: 0;}
	ol{
		counter-reset: item;
		list-style-type: none;

		ol{ @include list-margin(2em); }

		li:before, ol li:before { 
			content: counters(item, ".") " "; 
			counter-increment: item; 
			font-family: map-get($typography, font);
		}
	}
}

// Fixed with and height box 
.block{ 
	@include size(10em);
	background-image:url(https://unsplash.it/300/300?image=537);
	float: left;
	margin-right: 1em;
	p{ margin: 1em; }
	*{	@extend .text-white;}
}

/*--------------------------------------------------------------
Helpers
--------------------------------------------------------------*/

// Animate
.animate_sample:hover{ padding: 2em; }

.animate_sample.custom{ @include transition(padding,1000ms) }

/*--------------------------------------------------------------
Mixins
--------------------------------------------------------------*/

// Margin
.margin_1{ @include margin($t:1em,$b:3em) }
.margin_2{ 
	@include margin($t:3em,$b:1em,$l:2em) ;
	@include padding($b:10em);
}
.margin_3{ @include margin($t:3em,$r:3em) }

// Size
.size_1{ @include size(20em) }
.size_2{ @include size(10em,20em) }
.size_3{ @include size(5em,20em) }

// Position
.pos_1{ @include position(absolute, $b:1em)}
.pos_2{ @include position(relative, $l:20em)}
.pos_3{ @include position(absolute, $r:1em, $t: 0)}

// List Margin
ul.li_margin_2{ @include list-margin(2em); }

ul.li_margin_1, ul.li_margin_2 { 
	list-style-type: none;
	li:before{ 
		content:"abc";
		font-weight: bold;
	}
}


// Darken

.darken_1{@include darken}
.darken_3{@include darken(0.6, color(primary))}
.darken_4:hover{@include darken(0.6, color(primary))}

