/*--------------------------------------------------------------
darken background
--------------------------------------------------------------*/

.darken{ @include darken; }

/*--------------------------------------------------------------
background cover
--------------------------------------------------------------*/

.background-cover{
	background: no-repeat center center;
	background-size:cover;
}

/*--------------------------------------------------------------
vertical align
--------------------------------------------------------------*/

.valign {
	display: table;
	& > div, & > article, & > section, & > figure {
		display: table-cell;
		vertical-align: middle;
		float: none;
	}
	&.bottom{
		& > div, & > article, & > section, & > figure {
			vertical-align: bottom;
		}
	}
}

/*--------------------------------------------------------------
animate
--------------------------------------------------------------*/

.animate{ @include transition; }

/*--------------------------------------------------------------
float left, right
--------------------------------------------------------------*/

.pull-left{ float:left; }
.pull-right{ float:right; }

/*--------------------------------------------------------------
clearfix
--------------------------------------------------------------*/

.clearfix{
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after { clear: both; }
}

/*--------------------------------------------------------------
round
--------------------------------------------------------------*/

.round{ border-radius: 999em; }

/*--------------------------------------------------------------
reset
--------------------------------------------------------------*/

%reset{
	padding: 0;
	margin: 0;
}

/*--------------------------------------------------------------
border with default border color
--------------------------------------------------------------*/
%border 		{ @include border };
%border-top 	{ @include border(top) };
%border-left 	{ @include border(left) };
%border-bottom 	{ @include border(bottom) };
%border-right 	{ @include border(right) };